@font-face {
    font-family: "sebangGothic";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/sebangGothic/sebangGothic-Regular.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/sebangGothic/sebangGothic-Regular.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/sebangGothic/sebangGothic-Regular.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/sebangGothic/sebangGothic-Regular.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/sebangGothic/sebangGothic-Regular.ttf") format("truetype");
    font-display: swap;
} 
@font-face {
    font-family: "sebangGothic";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/sebangGothic/sebangGothic-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/sebangGothic/sebangGothic-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/sebangGothic/sebangGothic-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/sebangGothic/sebangGothic-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/sebangGothic/sebangGothic-Bold.ttf") format("truetype");
    font-display: swap;
} 
.sebangGothic {
    font-family: "sebangGothic";
}
.sebangGothic400 {
    font-family: "sebangGothic";
    font-weight: 400;
}
.sebangGothic700 {
    font-family: "sebangGothic";
    font-weight: 700;
}